<form action="/doaddmovie" method="post" class="well">
  <div>
    <h2>New movie</h2>
  </div>
  <br>
  <br>
  <div>
    <input type="text" name="moviename" class="input-large" required autofocus>
  </div>
  <br>
  <div>
    <button type="submit" class="btn btn-inverse btn-mini">Add</button>
  </div>
</form>

