<form action="/dogeneraterecommendations" method="post">
  <div>
    <h2>Admin panel</h2>
  </div>
  <br>
  <div>
    <button type="submit" class="btn btn-inverse btn-mini">Generate recommendations from ratings</button>
  </div>
</form>

