<!DOCTYPE html>
<html>
<head>
<title>MovieRecommender</title>
<meta charset="UTF-8">
<script src="http://dserban.github.com/js/jquery.js"></script>
<link rel="stylesheet" href="http://dserban.github.com/css/bootstrap.css">
<style>
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
</style>
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a href="/" class="ahref"><span class="brand" style="color: white;">MovieRecommender</span></a>
<div>
<ul class="nav pull-right">
<li><a href="/signinform" class="ahref">Currently signed in as <%= @signed_in_user_name %>. Sign in as someone else</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="span12">
<div class="hero-unit">
<%= yield %>
</div>
</div>
</div>
</div>
</body>
</html>
<script>
  $(".ahref,button").click(function() {$("body").fadeTo(100, 0.9);});
</script>

