<h2>
  <strong>This is MovieRecommender</strong>
</h2>
<br>
<br>
<div>
  <a href="/recommendations">
    <button class="btn btn-inverse btn-mini">I want personalized movie recommendations</button>
  </a>
</div>
<br>
<br>
<div>
  <a href="/myratings">
    <button class="btn btn-inverse btn-mini">Show movies I have rated</button>
  </a>
</div>
<br>
<br>
<div>
  <a href="/allmovies">
    <button class="btn btn-inverse btn-mini">Show all movies</button>
  </a>
</div>
<br>
<br>
<div>
  <a href="/addmovieform">
    <button class="btn btn-inverse btn-mini">I want to add a movie</button>
  </a>
</div>
<br>
<br>

